extends ../layouts/default

block intro
	.container
		h1(style="text-align:center;")  About Us

block content
	.container
		.row(style='margin:0px;')
			.col-xs-12.col-sm-6.col-md-6.col-lg-4
				img(src='/images/about-supply.jpg', style='width:300px;height:165px;margin-top:10px;display:block;margin:auto;border-radius:15px;border: 1px solid #343434;', alt='INTRUSION SYSTEMS')
				h3(style='text-align:center') SUPPLY
			.col-xs-12.col-sm-6.col-md-6.col-lg-4
				img(src='/images/about-install.jpg', style='width:340px;height:165px;margin-top:10px;display:block;margin:auto;border-radius:15px;border: 1px solid #343434;', alt='CCTV SURVEILLANCE SYSTEMS')
				h3(style='text-align:center') INSTALL
			.col-xs-12.col-sm-6.col-md-6.col-lg-4
				img(src='/images/about-maintain.jpg', style='width:320px;height:165px;margin-top:10px;display:block;margin:auto;border-radius:15px;border: 1px solid #343434;', alt='FIRE DETECTION / SUPPRESSION')
				h3(style='text-align:center') MAINTAIN

		h4(style="text-align:center;margin-top:50px;font-weight:bold;text-decoration: underline;")
			span(class="glyphicon glyphicon-info-sign", style="width:80px;height:40px;margin-right:5px;", aria-hidden="true")
			span Vision
		p(style="text-align:center;font-size: 17px;") Secure viable Service Level Agreements with at least ten large corporate clients by 2010.

		h4(style="text-align:center;font-weight:bold;text-decoration: underline;")
			span(class="glyphicon glyphicon-info-sign", style="width:80px;height:40px;margin-right:5px;", aria-hidden="true")
			span Mission
		p(style="text-align:center;font-size: 17px;") Provide quality products and services through continuous improvement.

		#mission(style="font-size: 15pt;width:80%;margin:auto;")
			p(style="text-align:left;font-size: 17px;")
				span(class="glyphicon glyphicon-triangle-right")
				span Skills development and continuous training.
			p(style="text-align:left;font-size: 17px;")
				span(class="glyphicon glyphicon-triangle-right")
				span Research and Development.
			p(style="text-align:left;font-size: 17px;")
				span(class="glyphicon glyphicon-triangle-right")
				span Design and engineer solutions to meet our clients’ requirements.
			p(style="text-align:left;font-size: 17px;")
				span(class="glyphicon glyphicon-triangle-right")
				span Delivering products and services to the client's satisfaction.
			p(style="text-align:left;font-size: 17px;")
				span(class="glyphicon glyphicon-triangle-right")
				span Continuous improvement in product knowledge.
			p(style="text-align:left;font-size: 17px;")
				span(class="glyphicon glyphicon-triangle-right")
				span Competitive pricing and increasing our client base nationally.

		h4(style="text-align:center;font-weight:bold;text-decoration: underline;")
			span(class="glyphicon glyphicon-info-sign", style="width:80px;height:40px;margin-right:5px;", aria-hidden="true")
			span Corporate Clients
		#client-base(style="font-size: 15pt;width:80%;margin:auto;")
			p(style="text-align:left;font-size: 17px;")
				span(class="glyphicon glyphicon-triangle-right")
				span Bateman
			p(style="text-align:left;font-size: 17px;")
				span(class="glyphicon glyphicon-triangle-right")
				span Scaw Metals
			p(style="text-align:left;font-size: 17px;")
				span(class="glyphicon glyphicon-triangle-right")
				span Astra Zenica Pharmaceuticals
			p(style="text-align:left;font-size: 17px;")
				span(class="glyphicon glyphicon-triangle-right")
				span Eskom ( transmission )
			p(style="text-align:left;font-size: 17px;")
				span(class="glyphicon glyphicon-triangle-right")
				span Impala Platinum
			p(style="text-align:left;font-size: 17px;")
				span(class="glyphicon glyphicon-triangle-right")
				span Nedbank Otis
			p(style="text-align:left;font-size: 17px;")
				span(class="glyphicon glyphicon-triangle-right")
				span Old Mutual
			p(style="text-align:left;font-size: 17px;")
				span(class="glyphicon glyphicon-triangle-right")
				span SABS
			p(style="text-align:left;font-size: 17px;")
				span(class="glyphicon glyphicon-triangle-right")
				span SAQCC

		h4(style="text-align:center;font-weight:bold;text-decoration: underline;")
			span(class="glyphicon glyphicon-info-sign", style="width:80px;height:40px;margin-right:5px;", aria-hidden="true")
			span Compliance
		#compliance(style="font-size: 15pt;list-style:none;width:80%;margin:auto;")
			p(style="text-align:left;font-size: 17px;")
				span(class="glyphicon glyphicon-triangle-right")
				span BEE Status — BWO Level 1 contributor
			p(style="text-align:left;font-size: 17px;")
				span(class="glyphicon glyphicon-triangle-right")
				span Health &amp; Safety — Compliant to the Occupational Health and Safety Act. No 85 of 1993.
			p(style="text-align:left;font-size: 17px;")
				span(class="glyphicon glyphicon-triangle-right")
				span Environmentally friendly and compliant.
			p(style="text-align:left;font-size: 17px;")
				span(class="glyphicon glyphicon-triangle-right")
				span Members of the — SARECA, SAQCC Quality Management System — Based on ISO 9001—2000 ( quality works management )
			p(style="text-align:left;font-size: 17px;")
				span(class="glyphicon glyphicon-triangle-right")
				span Guarantees — 12 months on workmanship &amp; equipment OR tailored to clients requirements.
			p(style="text-align:left;font-size: 17px;")
				span(class="glyphicon glyphicon-triangle-right")
				span Training and skills development — Our company is a recognized training institution for the Vaal Technical University.
