extends ../layouts/default

block intro
    .container
        
block content
    div(style="width:80%;margin:auto;margin-top:50px;border-top: 1px solid #eeeeee;")
        h2(style="text-align:center;") Services
        h4(style="text-align:center;font-weight:bold;text-decoration: underline;")
            span(class="glyphicon glyphicon-info-sign", style="width:80px;height:40px;margin-right:5px;", aria-hidden="true")
            span Airotek Engineering are specialists in the supply, installation and servicing of:
        //p(style="text-align:left;") 

        #services(style="font-size: 15pt;")
            p(style="text-align:left;font-size: 17px;")
                span(class="glyphicon glyphicon-triangle-right")
                span Split Units, Precision Temperature
            p(style="text-align:left;font-size: 17px;")
                span(class="glyphicon glyphicon-triangle-right")
                |
                span Control Units
            p(style="text-align:left;font-size: 17px;")
                span(class="glyphicon glyphicon-triangle-right")
                span Ceiling Mounted Cassette Units
            p(style="text-align:left;font-size: 17px;")
                span(class="glyphicon glyphicon-triangle-right")
                span Console Units
            p(style="text-align:left;font-size: 17px;")
                span(class="glyphicon glyphicon-triangle-right")
                span Chiller Plants
            p(style="text-align:left;font-size: 17px;")
                span(class="glyphicon glyphicon-triangle-right")
                span Package Units
            p(style="text-align:left;font-size: 17px;") 
                span(class="glyphicon glyphicon-triangle-right")
                span Hide-Away Units
            p(style="text-align:left;font-size: 17px;") 
                span(class="glyphicon glyphicon-triangle-right")
                span Cold Rooms
            p(style="text-align:left;font-size: 17px;") 
                span(class="glyphicon glyphicon-triangle-right")
                span Ducted System

    div(style="width:80%;margin:auto;margin-top:50px;border-top: 1px solid #eeeeee;")
        h4(style="text-align:center;font-weight:bold;text-decoration: underline;")
            span(class="glyphicon glyphicon-info-sign", style="width:80px;height:40px;margin-right:5px;", aria-hidden="true")
            span Maintenance and service of:
        #services-maintain(style="font-size: 15pt;")
            p(style="text-align:left;font-size: 17px;")
                span(class="glyphicon glyphicon-triangle-right")
                span Cooling Towers
            p(style="text-align:left;font-size: 17px;")
                span(class="glyphicon glyphicon-triangle-right")
                |
                span All Air-conditioning and Refrigeration Systems
            p(style="text-align:left;font-size: 17px;")
                span(class="glyphicon glyphicon-triangle-right")
                span Ammonia Plants
            p(style="text-align:left;font-size: 17px;")
                span(class="glyphicon glyphicon-triangle-right")
                span Pneumatic Plants
            p(style="text-align:left;font-size: 17px;")
                span(class="glyphicon glyphicon-triangle-right")
                span Air Dried Units
            p(style="text-align:left;font-size: 17px;")
                span(class="glyphicon glyphicon-triangle-right")
                span Ice Machines
            p(style="text-align:left;font-size: 17px;") 
                span(class="glyphicon glyphicon-triangle-right")
                span Domestic / Commercial Refrigeration
            p(style="text-align:left;font-size: 17px;") 
                span(class="glyphicon glyphicon-triangle-right")
                span HVAC

        p(style="text-align:center;margin-top:80px;") Airotek Engineering offers 24hour service, including weekends and public holidays.